.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 80px;
}
.nav__link {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  transition: color 1s linear 0.5s;
}
.nav__link:hover {
  color: #2f80ed;
}
.nav__links {
  display: flex;
  list-style: none;
  column-gap: 20px;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}
